
.text {
  font-family: Arial;
}
.main {
  background: url('./img/login.png') no-repeat;
  background-size: contain;
  background-position: center;
  height: 120vh;
  justify-content: center;
  align-items: center
}

@media (min-width: 1281px) {
  
  .landing {
    background: url('./img/background@landing.png') no-repeat;
    background-size: cover;
    background-position: center;
    height: 92vh;
    padding-top: 10vh
}
.jumbotron-heading {
    margin-top:05%!important
}
.jumbotron-gaping {
  margin-top:2%
}
.left {
  float: left;
  margin-right:5%;
  position:'absolute';
  top:-30%
}
.login-cover {
  background: url('./img/login.png') no-repeat;
  background-size: cover;
  background-position: center;
  height: 120vh;
  justify-content: center;
  align-items: center
}
.card1 {
  top: 51%;
  right:15%
}
.jumbo-prop {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius:'8%';
  width:80%;
  left:2%;
  margin-top:2%;
  position:'relative';
  margin-left:10%;
  background-color: aqua!important
}
/* //AreaPRoperty */
.jumbo {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: url('./img/background@Area.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  height:60vh;
  
}

}
@media (min-width: 1025px) and (max-width: 1280px) {
  .landing {
    background: url('./img/background@landing.png') no-repeat;
    background-size: cover;
    background-position: center;
    height: 92vh;
    padding-top: 10vh
  }
  .login-cover {
    background: url('./img/login.png') no-repeat;
    background-size: cover;
    background-position: center;
    height: 89vh;
    justify-content: center;
    align-items: center
  }
  .card1 {
    top: 51% !important;
    right: 49% !important;
    width: max-content;
  }
  
}
@media (min-width:1024px) and (max-width:1366px) {
  .login-cover {
    background: url('./img/login.png') no-repeat;
    background-size: cover;
    background-position: center;
    height: 89vh;
    justify-content: center;
    align-items: center
  }
  .card1 {
    top: 101% !important;
    right: 28% !important;
    width: max-content;
  }
  
}
@media (min-width: 768px) and (max-width: 1024px) {
  .landing {
    background: url('./img/background@landing.png') no-repeat;
    background-size: cover;
    background-position: center;
    height: 42%;
    padding-top: 10vh
  }
  .header-font {

    margin-top: 10%;
  }
  .login-cover {
    background: url('./img/login.png') no-repeat;
    background-size: cover;
    background-position: center;
    height: 89vh;
    justify-content: center;
    align-items: center
  }
  .card1 {
    top: 94% !important;
    right: 17% !important;
    width: max-content;
  }
  
 
}
@media (min-width: 320px) and (max-width: 568px) {
  
  .landing {
    background: url('./img/background@landing.png') no-repeat;
    background-size: cover;
    background-position: center;
    height: 70vh;
    padding-top: 10vh
  }
  .header-font {
    font-size: 88%;
    margin-top: 10%;
  }
  .login-image {
    left: 36%;
    position: relative;
    margin-bottom: 5%;
  }
  
}


@media (min-width: 320px) and (max-width: 767px) {
  
  .landing {
    background: url('./img/background@landing.png') no-repeat;
    background-size: cover;
    background-position: center;
    height: 55%;
    padding-top: 10vh
  }

  .login-image {
    left: 36%;
    position: relative;
    margin-bottom: 5%;
  }
}